<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/layerbg/com_layerbg_dblue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,145},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>common/layerbg/com_layerbg_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,247},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>common/btn/com_btn_ash.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{204,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,90}</string>
			</dict>
			<key>common/btn/com_btn_blue_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,1},{204,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,90}</string>
			</dict>
			<key>common/btn/com_btn_blue_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,1},{204,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,90}</string>
			</dict>
			<key>common/btn/com_btn_close_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,145},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>common/btn/com_btn_close_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,73},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>common/btn/com_btn_green_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,207},{204,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,90}</string>
			</dict>
			<key>common/btn/com_btn_green_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,413},{204,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,90}</string>
			</dict>
			<key>common/btn/com_btn_yellow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,73},{204,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,90}</string>
			</dict>
			<key>common/btn/com_btn_yellow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,145},{204,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,90}</string>
			</dict>
			<key>common/btn/com_pic_qd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,145},{66,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,32}</string>
			</dict>
			<key>common/btn/com_pic_qx.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,179},{66,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>common.png</string>
			<key>realTextureFileName</key>
			<string>common.png</string>
			<key>size</key>
			<string>{484,484}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>484</integer>
			<key>height</key>
			<integer>484</integer>
		</dict>
	</dict>
</plist>